@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../../files/scss/assets/fonts/Montserrat-Medium.woff2"), url("../../files/scss/assets/fonts/Montserrat-Regular.woff");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("../../files/scss/assets/fonts/Montserrat-Medium.woff2"), url("../../files/scss/assets/fonts/Montserrat-Medium.woff");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("../../files/scss/assets/fonts/Montserrat-SemiBold.woff2"), url("../../files/scss/assets/fonts/Montserrat-SemiBold.woff");
}

.medium {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;

    &--24 {
        font-size: 24px;
        line-height: 29px;
    }

    &--30 {
        font-size: 30px;
        line-height: 37px;
    }
}

.regular {
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;

    &--20 {
        font-size: 20px;
        line-height: 24px;
    }

    &--22 {
        font-size: 22px;
        line-height: 27px;
    }

    &--24 {
        font-size: 24px;
        line-height: 29px;
    }
}

.bold {
    font-family: 'Montserrat';
    font-size: 28px;
    font-weight: 600;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;

    &--32 {
        font-size: 32px;
        line-height: 39px;
    }

    &--42 {
        font-size: 42px;
        line-height: 51px;
    }

    &--50 {
        font-size: 50px;
        line-height: 61px;
    }

}


